{% block semantic_integer_row %}
    {% for child in form.children %}
    <div {{ block('row_attributes') }}>
        {{ form_label(form) }}
        <div class="ui right labeled input">
            {{ form_widget(child) }}
            {%  if semanticLabel %}
            <div class="ui basic label">
                {{ semanticLabel }}
            </div>
            {% endif %}
        </div>
    </div>
    {{ form_errors(child) }}
        {%  endfor %}
{% endblock  %}

{% block semantic_number_row %}
    {% for child in form.children %}
        <div {{ block('row_attributes') }}>
            {{ form_label(form) }}
            <div class="ui right labeled input">
                {{ form_widget(child) }}
                {%  if semanticLabel %}
                    <div class="ui basic label">
                        {{ semanticLabel }}
                    </div>
                {% endif %}
            </div>
        </div>
        {{ form_errors(child) }}
    {%  endfor %}
{% endblock  %}