{{ include('@Pub/'~activity.activityType~'/_export.html.twig') }}
<div class="ui simple dropdown item">
    <div id="activity_lock"
         data-ajax="/activity/lock"
         data-activity="{{ activity.id }}"
         data-authorised="true"
         data-status = "{{ activity.status }}">
        <span class="ui icon" data-content="{{ 'This activity was locked by '~activity.modifiedUser.username }}"
              data-position="bottom center">
            <i class="lock icon"></i>
        </span>
    </div>
</div>
<a class="item">
    Add to collection
</a>
<div id="export" class="item">
    <i class="download icon"></i>
    <span class="text">Export</span>
</div>
{%  if app.request.pathinfo == path(activity.activityType~'_by_slug', {slug: activity.slug}) %}
    <a class="item" href="{{ path(activity.activityType~'_update', {id: activity.id}) }}">
        <i class="edit icon"></i>Edit
    </a>
{% endif %}