{{ include('@Pub/'~activity.activityType~'/_export.html.twig') }}
<div class="ui simple dropdown item">
    <div id="activity_lock"
         data-ajax="/activity/lock"
         data-activity="{{ activity.id }}"
         data-authorised="true"
         data-status = "{{ activity.status }}">
        <i class="unlock icon"></i>
    </div>
</div>
<a class="item">
    Add to collection
</a>
<div id="export" class="item">
    <i class="download icon"></i>
    <span class="text">Export</span>
{#    <i class="dropdown icon"></i>#}
{#    <div class="menu">#}
{#        <a class="item" href="{{ path(activity.activityType~'_export', { id: activity.id, format: 'docx' }) }}">Word</a>#}
{#        <a class="item" href="{{ path(activity.activityType~'_export', { id: activity.id, format: 'csv' }) }}">CSV</a>#}
{#        <a class="item" href="{{ path(activity.activityType~'_export', { id: activity.id, format: 'xml' }) }}">XML</a>#}
{#        <a class="item" href="{{ path(activity.activityType~'_export', { id: activity.id, format: 'json' }) }}">JSON</a>#}
{#        <a class="item" href="#">PDF <span style="color: grey; font-size: smaller">(coming soon)</span> </a>#}
{#    </div>#}
</div>
{%  if app.request.pathinfo == path(activity.activityType~'_by_slug', {slug: activity.slug}) %}
    <a class="item" href="{{ path(activity.activityType~'_update', {id: activity.id}) }}">
        <i class="edit icon"></i>Edit
    </a>
{% endif %}