{% extends '@Pub/base.html.twig' %}
{% block stylesheets %}
    {{  parent() }}
{% endblock %}
{% block body %}
    {{ parent() }}
    <div id="activityMenu" class="ui attached large menu adminMenu">
        <a class="item active" data-tab="details">
            Details
        </a>
        <a class="item" data-tab="description">
            Description
        </a>
        <a class="item" data-tab="directions">
            Directions
        </a>
        <a class="item" data-tab="nearby">
            Nearby
        </a>
        <a class="item" data-tab="collections">
            Collections
        </a>
        <a class="item" data-tab="royalties">
            Map Royalties
        </a>
        <a class="item" data-tab="admin">
            Admin
        </a>
        {%  if activity is defined %}
            <div class="right menu">
                {% if activity.status == 0 %}
                    {{ include('@Pub/activities/_unlocked.html.twig') }}
                {% elseif (activity.status == 1 and app.user == activity.modifiedUser) or is_granted('ROLE_ADMIN') %}
                    {{ include('@Pub/activities/_lockedOwned.html.twig') }}
                {%  else %}
                    {{ include('@Pub/activities/_locked.html.twig') }}
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block javascripts %}
    {{  parent() }}
    {{ encore_entry_script_tags('activity') }}
{% endblock %}