{% extends 'collection/collectionMenu.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('collection') }}
{% endblock %}
{% block body %}
    {{ parent() }}
    <div class="collectionContent">
        <div class="details">
           {{ collection.name }}
            <div class="ui tab active" data-tab="details">
                {{ collection.description }}
            </div>
            <div class="ui tab" data-tab="contents">
                {% for contents in collection.collectionContents %}
                    {{ contents.activity.name }}
                {% endfor %}
            </div>
        </div>
        <div class="mapping">
            {#        <div class="ui two item menu attached mapMenu">#}
            {#            <a class="active item" data-tab="tab-routeMap"><i class="map signs icon"></i>Route</a>#}
            {#            <a class="item" data-tab="tab-bookMap"><i class="map icon"></i>Map</a>#}
            {#        </div>#}
            <div id="collectionMap" class="collectionMap">
                <!-- <div class="bookMap tab" data-tab="tab-bookMap"></div>-->
                <!-- <div id="routeMap" class="routeMap active tab" data-tab="tab-routeMap"></div>-->
            </div>
            {#        <div class="ui attached segment walkMapping tab" data-tab="tab-bookMap"></div>#}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('collection') }}
{% endblock %}