{% extends '@Pub/base.html.twig' %}
{% block stylesheets %}
    {{  parent() }}
    {{ encore_entry_link_tags('search') }}
{% endblock %}
{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="columnLeft">
            {{ include('@Pub/_sideSearchForm.html.twig') }}
        </div>
        <div class="columnRight">
            <div class="resultCount">
                <h3 class="ui center aligned header">{{ pagination.getTotalItemCount }} Walk{% if pagination.getTotalItemCount > 1 %}s{% endif%} Found </h3>
            </div>
            <div class="scrollWrapper">
                <div class="ui divided items">
                    {%  for walk in pagination %}
                        <div class="item">
                            <div class="ui tiny image">
                                <img src="{{ asset('images/activity/walk_' ~ walk.difficulty~'.svg') }}">
                            </div>
                            <div class="content">
                                <a href="{{ path('walk_by_slug', {slug: walk.slug}) }}" class="header">{{ walk.name }}</a>
                                <div class="resultNav">
                                    {%  if walk.status == 0 %}
                                        <i class="unlock icon" ></i>
                                    {% elseif walk.status == 1 %}
                                        <i class="lock icon" data-content="{{ 'This activity was locked by '~walk.modifiedUser.username }}" data-position="bottom center"></i>
                                    {% endif %}
                                    <a class="ui icon" data-content="View Activity" data-position="bottom center" href="{{ path('walk_by_slug', {slug: walk.slug}) }}">
                                        <i class="eye icon"></i>
                                    </a>
                                    {% if is_granted('ROLE_USER') %}
                                        {% if walk.status == 0 or (walk.status == 1 and app.user == walk.modifiedUser) or is_granted('ROLE_ADMIN')%}
                                            <a class="ui icon" data-content="Edit Activity" data-position="bottom center" href="{{ path('walk_update', {id: walk.id}) }}">
                                                <i class="pencil alternate icon"></i>
                                            </a>
                                        {%  else %}
                                            <a class="ui icon" data-content="Edit Activity" data-position="bottom center" href="#">
                                                <i class="disabled pencil alternate icon"></i>
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="description">
                                    {{ walk.shortDescription }}
                                </div>
                                <div class="extra">
                                    {%  for tag in walk.tags %}
                                        <div class="ui small label">{{  tag.name }}</div>
                                    {% endfor %}
                                </div>

                            </div>

                        </div>
                    {% endfor %}
                </div>
                <div class="pagination">
                    {% if pagination.totalItemCount / 10 > 1 %}
                        {{ knp_pagination_render(pagination) }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{  parent() }}
    {{ encore_entry_script_tags('search') }}
{% endblock %}