{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{  parent() }}
    {{ encore_entry_link_tags('walk') }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.2.1/css/ol.css" type="text/css">
{% endblock %}
{% block body %}
    {{ parent() }}
    <div class="ui attached large menu adminMenu">
        <a class="item active" data-tab="details">
            Details
        </a>
        <a class="item" data-tab="description">
            Description
        </a>
        <a class="item" data-tab="directions">
            Directions
        </a>
        <a class="item" data-tab="nearby">
            Nearby
        </a>
        <a class="item" data-tab="collections">
            Collections
        </a>
        <a class="item" data-tab="royalties">
            Map Royalties
        </a>
        <a class="item" data-tab="notes">
            Editorial Notes
        </a>
        {%  if activity is defined %}
            <div class="right menu">
                <div class="ui simple dropdown item">
                    <div id="activity_lock"
                         data-ajax="/activity/lock"
                         data-activity="{{ activity.id }}"
                         data-owner="{{ app.user == activity.modifiedUser ? 'true' : 'false' }}"
                         data-authorised="{{ is_granted('ROLE_USER') ? 'true' : 'false' }}"
                         data-status = "{{ activity.status }}">
                        {% if activity.status == 0 %}
                               <i class="unlock icon"></i>
                           {% elseif activity.status == 1 %}
                            <span data-tooltip="{{ 'This activity was locked by '~activity.modifiedUser.username }}"
                                  data-position="bottom center">
                                <i class="lock icon"></i>
                            </span>
                        {% endif %}
                    </div>

                </div>
                <div class="ui simple dropdown  item">
                    <i class="download icon"></i>
                    <span class="text">Export</span>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a class="item" href="{{ path(activity.activityType~'_export', { id: activity.id, format: 'docx' }) }}">Word</a>
                        <a class="item" href="{{ path(activity.activityType~'_export', { id: activity.id, format: 'csv' }) }}">CSV</a>
                        <a class="item" href="{{ path(activity.activityType~'_export', { id: activity.id, format: 'xml' }) }}">XML</a>
                        <a class="item" href="{{ path(activity.activityType~'_export', { id: activity.id, format: 'json' }) }}">JSON</a>
                        <a class="item" href="#">PDF <span style="color: grey; font-size: smaller">(coming soon)</span> </a>
                    </div>
                </div>
                {% if activity.status == 0 or (activity.status == 1 and app.user == activity.modifiedUser) %}
                    {%  if app.request.pathinfo == path(activity.activityType~'_by_slug', {slug: activity.slug}) %}
                        <a class="item" href="{{ path(activity.activityType~'_update', {id: activity.id}) }}">
                            <i class="edit icon"></i>Edit
                        </a>
                    {% endif %}
                {% endif %}
            </div>
        {% endif %}
    </div>

{% endblock %}
{% block javascripts %}
    {{  parent() }}
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.2.1/build/ol.js"></script>
    {{ encore_entry_script_tags('activity') }}
    {{ encore_entry_script_tags('walk') }}
{% endblock %}