{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{  parent() }}
    {{ encore_entry_link_tags('walk') }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.2.1/css/ol.css" type="text/css">
{% endblock %}
{% block body %}
    {{ parent() }}
    <div class="ui attached large menu adminMenu">
        <a class="item active" data-tab="details">
            Details
        </a>
        <a class="item" data-tab="description">
            Description
        </a>
        <a class="item" data-tab="directions">
            Directions
        </a>
        <a class="item" data-tab="nearby">
            Nearby
        </a>
        <a class="item" data-tab="collections">
            Collections
        </a>
        <a class="item" data-tab="royalties">
            Map Royalties
        </a>
        <a class="item" data-tab="notes">
            Editorial Notes
        </a>
        <div class="right menu">
            <div class="ui simple dropdown  item">
                <i class="download icon"></i>
                <span class="text">Export</span>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item">PDF</div>
                    <div class="item">Text</div>
                    <div class="item">CSV</div>
                    <div class="item">XML</div>
                    <div class="item">JSON</div>
                </div>
            </div>
            {%  if activity is defined %}
                {%  if app.request.pathinfo == path(activity.activityType~'_by_slug', {slug: activity.slug}) %}
                    <a class="item" href="{{ path(activity.activityType~'_update', {id: activity.id}) }}">
                        <i class="edit icon"></i>Edit
                    </a>
                {% endif %}
            {% endif %}
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{  parent() }}
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.2.1/build/ol.js"></script>
    {{ encore_entry_script_tags('walk') }}
{% endblock %}