{{ form_start(sideSearchForm) }}
    <div class="ui field fluid icon input">
        {{ form_widget(sideSearchForm.string) }}
        <i class="search icon"></i>
    </div>
    {{ form_row(sideSearchForm.tags) }}
    {{ form_row(sideSearchForm.search) }}
{{ form_end(sideSearchForm) }}