{% extends '@Pub/base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
<div class="login_container" style="background-image: url({{ asset('images/' ~ random(['landscape_1920', 'mountain_1920', 'people_1920', 'sea_1920', 'lake_district_1920']) ~ '.jpg') }})">
    <div class="login_form">
        <div class="identImages">
            <img src="{{ asset('images/walk_green.png') }}" alt="">
            <img src="{{ asset('images/ride_green.png') }}" alt="">
            <img src="{{ asset('images/drive_green.png') }}" alt="">
        </div>

        <form method="post">
            <h1 class="ui header center aligned title">ACTIVITIES</h1>
            <div class="inputBox">
                <input type="text" name="username" required autofocus>
                <label for="username">Username</label>
            </div>
            <div class="inputBox">
                <input type="password" name="password" required>
                <label for="password">Password</label>
            </div>
            {% if error %}
                <div class="ui error message"><div class="ui header center aligned">{{ error.messageKey|trans(error.messageData, 'security') }}</div></div>
            {% endif %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <!--<div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="" name="_remember_me"> Remember me
                </label>
            </div>-->
            <button class="fluid ui blue button" type="submit">
                Sign in
            </button>
        </form>
    </div>
</div>
{% endblock %}
