{{ form_start(walkForm) }}
    {{ form_row(walkForm.name) }}
    <div class="ui tab active" data-tab="details">
        {{ form_row(walkForm.location) }}
        <div class="field">
            {{ form_label(walkForm.distance) }}
            <div class="ui right labeled input">
                {{ form_widget(walkForm.distance) }}
                <div class="ui basic label">
                    km
                </div>
            </div>
        </div>
        {{ form_errors(walkForm.distance) }}
        <div class="equal width fields">
            <div class="field">
                {{ form_label(walkForm.minimumTimeHours) }}
                <div class="ui right labeled input">
                    {{ form_widget(walkForm.minimumTimeHours) }}
                    <div class="ui basic label">
                        hrs
                    </div>
                </div>
            </div>
            {{ form_errors(walkForm.minimumTimeHours) }}
            <div class="field">
                {{ form_label(walkForm.minimumTimeMinutes) }}
                <div class="ui right labeled input">
                    {{ form_widget(walkForm.minimumTimeMinutes) }}
                    <div class="ui basic label">
                        minutes
                    </div>
                </div>
            </div>
            {{ form_errors(walkForm.minimumTimeMinutes) }}
        </div>
        <div class="equal width fields">
            <div class="field">
                {{ form_label(walkForm.ascent) }}
                <div class="ui right labeled input">
                    {{ form_widget(walkForm.ascent) }}
                    <div class="ui basic label">
                        metres
                    </div>
                </div>
            </div>
            {{ form_row(walkForm.ascent) }}
            {{ form_row(walkForm.gradient) }}
            {{ form_row(walkForm.difficulty) }}
        </div>
        {{ form_row(walkForm.paths) }}
        {{ form_row(walkForm.landscape) }}
        {{ form_row(walkForm.suggestedMap) }}
        {{ form_row(walkForm.dogFriendliness) }}
        {{ form_row(walkForm.parking) }}
        {{ form_row(walkForm.publicToilet) }}
        {{ form_row(walkForm.tagsText) }}
    </div>
    <div class="ui tab" data-tab="description">
        {{ form_row(walkForm.shortDescription) }}
        {{ form_row(walkForm.description) }}
    </div>
    <button class='ui button' type="submit">{{ button_text }}</button>
{{ form_end(walkForm) }}

