{{ form_start(collectionForm) }}
    {{ form_row(collectionForm.name) }}
    <hr>
    {{ form_row(collectionForm.description) }}
    <div class="field">
        <button class='ui primary button' type="submit">{{ button_text }}</button>
    </div>
{{ form_end(collectionForm) }}