{% extends '@Pub/collection/collectionMenu.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('collection') }}
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.css" rel="stylesheet" />
{% endblock %}
{% block body %}
    {{ parent() }}
    <div id="collectionContent" data-collection="{{ collection.id }}">
        <div class="details">
            <div class="ui tab active" data-tab="details">
                {{ include('@Pub/collection/_form.html.twig', {
                    button_text: 'Update'
                }) }}
            </div>
            <div class="ui tab" data-tab="contents">
                <div class="ui fluid search collection-contents-search">
                    <div class="ui fluid icon input">
                        <i class="inverted circular search icon"></i>
                        <input class="prompt" type="text" placeholder="Search Activities...">
                        <div hidden class="activity-id"></div>
                    </div>
                </div>
                <button style="display: none" id="addCollection" class="fluid ui button primary addCollection">Add to Collection</button>
                <div class="ui divided items collection-contents">
                    {% for contents in collection.collectionContents|sort((a,b)=> a.position <=> b.position) %}
                        <div class='item'>
                            <div class="ui tiny image">
                                <img src="{{ asset("/images/activity/default_"~contents.activity.activityType~".jpg") }}" alt="">
                            </div>
                            <div class='content floated right'>
                                {{ contents.activity.name}} -
                                {{ contents.position}}
                                {%  if contents.activity.status == 0 %}
                                    <i class="unlock icon" ></i>
                                {% elseif contents.activity.status == 1 %}
                                    <i class="lock icon" data-content="{{ 'This activity was locked by '~contents.activity.modifiedUser.username }}" data-position="bottom center"></i>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div id="editMapping" class="mapping">
            <div class="apierror">
                <h4>
                    <i class="exclamation triangle icon"></i>
                    We're sorry there appears to be an issue with the mapping API
                </h4>
                <p>
                    Please contact the administrator for assistance
                </p>
            </div>
            <div id="map" style='width: 100%; height: 100%;'></div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.js"></script>
    {{ encore_entry_script_tags('collection') }}
{% endblock %}