{% extends '@Pub/base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('collection') }}
{% endblock %}
{% block body %}
    {{ parent() }}
    <div class="ui container collections">
        <div class="collections__search">
            <div class="ui fluid search collection-search">
                <div class="ui fluid icon input">
                    <input class="prompt" type="text" placeholder="Search Collections…">
                    <i class="search icon"></i>
                </div>
            </div>
        </div>
        <div class="collections__list">
            <div class="ui divided items">
                {% for c in collections %}
                    <div class="item">
                        <div class="content">
                            <a href="{{ path('collection_by_slug', {slug: c.slug}) }}" class="header">
                                {{ c.name }}
                            </a>
                            <div class="collection-nav">
                                {%  if c.status == 0 %}
                                    <i class="unlock icon" ></i>
                                {% elseif c.status == 1 %}
                                    <i class="lock icon" data-content="{{ 'This collection was locked by '~c.modifiedUser.username }}" data-position="bottom center"></i>
                                {% endif %}
                                <a class="ui icon" data-content="View Collection" data-position="bottom center" href="{{ path('collection_by_slug', {slug: c.slug}) }}">
                                    <i class="eye icon"></i>
                                </a>
                                {% if c.status == 0 or (c.status == 1 and app.user == c.modifiedUser) or is_granted('ROLE_ADMIN')%}
                                    <a class="ui icon" data-content="Edit Collection" data-position="bottom center" href="{{ path('collection_update', {id: c.id}) }}">
                                        <i class="pencil alternate icon"></i>
                                    </a>
                                {%  else %}
                                    <a class="ui icon" data-content="Edit Collection" data-position="bottom center" href="#">
                                        <i class="disabled pencil alternate icon"></i>
                                    </a>
                                {% endif %}
                            </div>
                            <div class="meta">
                                <span class="count">
                                    Activities: {{ c.collectionContents|length }}
                                </span>
                            </div>
                            <div class="description">
                                {{ c.description }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('collection') }}
{% endblock %}